{% extends 'user_dashboard/index.html' %}
{% block main %}
{% load custom_date_tag %}
<div class="row" style="padding-top: 50px;">
  {% if not isEmpty %}
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <p> <b> Last Tracked : </b> {{ history_array.date }} </p>
            </div>
        </div>
    </div>
  {% else %}
  <div class="col-md-6">
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: red;"> Empty Data !</h2>
        </div>
    </div>
</div>
  {% endif %}
</div>

{% if not isEmpty and history_array.history|length != 0 %}
<div class="row" style="padding-top: 50px;">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th class="row-history-ID">ID</th>
                <th class="row-history-name">Name</th>
                <th class="row-history-url">URL</th>
                <th class="row-history-priority">Priority</th>
                <th class="row-history-date">Date</th>
              </tr>
            </thead>
            <tbody>
                {% for history in history_array.history %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ history.1 }}</td>
                <td>{{ history.0 }}</td>
                <td>{{ history.2 }}</td>
                <td>{{ history.3|timestamp_to_time }}</td>
              </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% elif not isEmpty and history_array.history|length == 0 %}
<div class="row" style="padding-top: 50px;">
  <div class="col-md-12">
    <h2 style="color: red;"><b> Empty History !</b></h2>
  </div>
</div>
{% endif %}

{% endblock %}