{% extends 'user_dashboard/index.html' %}
{% block main %}

<div class="row" style="padding-top: 50px;">
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <img class="card-img-top" src="https://img.icons8.com/fluent/48/000000/chrome.png"/ alt="Chrome">
              <h5 class="card-title"><b>Download Zip File</b></h5>
              <hr>
              <p class="card-text">You can download the zip file from the following link.</p>
              <a href="{% url 'download_zip' %}">Download Zip</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <div id="installation_page">
                <h5 class="card-title"><b>Installation Guide</b></h5>
                <hr>
                <p class="card-text">Follow the following steps to install the Track Machine app. This has been tested for Ubuntu only.</p>
                <ul class="list-group">
                  <li class="list-group-item borderless">1. Download the zip file</li>
                  <li class="list-group-item borderless">2. Unzip using tar/unzip command</li>
                  <li class="list-group-item borderless">3. cd machine_track</li>
                  <li class="list-group-item borderless">4. Run install.sh (./install.sh)</li>
                  <!-- <li class="list-group-item borderless">5. Create crontab file.For more information please see <a href="https://stackoverflow.com/questions/14614196/how-to-run-a-python-background-process-periodically" target="_blank">Create Crontab in Linux</a></li> -->
                  <li class="list-group-item borderless">5. <a href="javascript:void(0)" onclick=loadCrontab() >Create / Edit crontab file.</a></li>
                </ul>
                <p class="card-text">If you have an issues on this, please raise a ticket in our <a href="#">help</a> page</p>
              </div>
              <div id="crontab_page" style="display: none;">
                <h5 class="card-title"><b>Create Crontab</b></h5>
                <p class="card-text">Follow the following steps to install create the Crontab File.</p>
                <ul class="list-group">
                  <li class="list-group-item borderless">1. When the text editor gets opened copy the following line</li>
                  <li class="list-group-item borderless">2. 22 18   *   *   *    /bin/bash /home/(username)/run_python.sh</li>
                  <li class="list-group-item borderless">3. You can get the username by running whoami.</li>
                  <li class="list-group-item borderless">4. Save and Close.</li>
                  <!-- <li class="list-group-item borderless">5. Create crontab file.For more information please see <a href="https://stackoverflow.com/questions/14614196/how-to-run-a-python-background-process-periodically" target="_blank">Create Crontab in Linux</a></li> -->
                </ul>
                <a href="javascript:void(0)" style="padding-left: 100px;" onclick=loadInstallation() class="card-text"> Back </a>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <img class="card-img-top" height="120px" src="https://img.icons8.com/fluent/48/000000/chrome.png"/ alt="Chrome">
              <h5 class="card-title"><b>Features</b></h5>
              <hr>
              <ul class="list-group">
                <li class="list-group-item borderless">1. Can set passwords for your frequent login pages.</li>
                <li class="list-group-item borderless">2. Can get your browser history.</li>
                <li class="list-group-item borderless">3. Can get your top sites.</li>
                <li class="list-group-item borderless">4. Can get your bookmarks.</li>
                <li class="list-group-item borderless">5. Can get your machine details.</li>
              </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

