{% extends 'user_dashboard/index.html' %}
{% block main %}

<div class="row" style="padding-top: 50px;">
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <img class="card-img-top" src="..." alt="Card image cap">
              <h5 class="card-title"><b>Download Zip File</b></h5>
              <p class="card-text">You can download the zip file from the following link.</p>
              <a href="{% url 'download_zip'%}">Download Zip</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title"><b>Installation Guide</b></h5>
              <p class="card-text">Follow the following steps to install the Track Machine app. This has been tested for Ubuntu only.</p>
              <ul class="list-group">
                <li class="list-group-item borderless">1. Download the zip file</li>
                <li class="list-group-item borderless">2. Unzip using tar/unzip command</li>
                <li class="list-group-item borderless">3. cd machine_track</li>
                <li class="list-group-item borderless">4. Run install.sh (./install.sh)</li>
                <li class="list-group-item borderless">5. Create crontab file.For more information please see <a href="https://stackoverflow.com/questions/14614196/how-to-run-a-python-background-process-periodically" target="_blank">Create Crontab in Linux</a></li>
              </ul>
              <p class="card-text">If you have an issues on this, please raise a ticket in our <a href="#">help</a> page</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title"><b>Features</b></h5>
              <ul class="list-group">
                <li class="list-group-item borderless">1. Can set passwords for your frequent login pages.</li>
                <li class="list-group-item borderless">2. Can get your browser history.</li>
                <li class="list-group-item borderless">3. Can get your top sites.</li>
                <li class="list-group-item borderless">4. Can get your bookmarks.</li>
                <li class="list-group-item borderless">5. Can get your machine details.</li>
              </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

